[2020-09-08 15:19] dzou opened #8 "Run Native Image Agent on Client Library Tests"
To further validate our configurations, we can try to run the native image agent against client library tests to see what the differences are.

Followup on these instructions: https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.0/spring-graalvm-native-docs-0.8.0.zip!/reference/index.html#_testing_with_the_agent_to_compute_configuration

[2020-09-17 20:15] dzou opened #10 "Switch to using grpc-netty-shaded"
The netty version in grpc-netty-shaded has been upgraded to `4.1.51.Final`: https://github.com/grpc/grpc-java/blob/master/build.gradle#L57

We should change the sample back to using grpc-netty-shaded again.

[2020-09-17 20:16] dzou opened #11 "Add documentation to homepage README"
Add documentation to the readme and samples.

* Should provide instructions for how to depend on the snapshot version.

[2020-09-21 14:23] dzou opened #12 "Figure out how to collect metrics"
Figure out how to collect metrics.

[2020-09-28 16:07] dzou opened #16 "Consider using Cloud Build for CI"
As per internal recommendations, Cloud Build is often suggested as a CI for security reasons. Let's do some research and consider using it over Github Actions.

[2020-10-06 14:27] dzou commented on #10
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/13

[2020-10-06 14:27] #10 closed

[2020-10-06 17:29] #16 closed

[2020-10-07 17:45] dzou commented on #11
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/14

[2020-10-07 17:45] #11 closed

[2020-10-07 19:25] dzou opened #23 "Support different client library transports"
The Google Client Libraries seem to be implemented on at least two different transport methods:

* GRPC - this is provided by `grpc-netty-shaded`
* HTTP/JSON - this seems to be provided by `google-api-client`

So we need to make sets of configurations conditional on classes in the classpath - i.e. grpc class configs only imported if GRPC is present; API client only imported if the API-client class

[2020-10-14 19:39] dzou opened #30 "Implement a working sample for Quarkus"
Quarkus does not work out of the box with this library.

I think the root issue is that Quarkus brings its own version of `netty` and the Google client libraries bring in their version of `grpc-netty-shaded`. Ordinarily there would be no conflicts, but both libraries also register native libraries, and these I think conflict with each other somehow.

If you try building with both deps on the class

[2020-10-15 18:50] dzou commented on #30
Running the native image build through the debugger and here is the stack trace:

[code]

Somehow it fails on the [`aprMajorVersion()` call](https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/java/io/netty/internal/tcnative/Library.java#L149) in Library.java from netty TCNative. Note that this call succeeds during the normal build and only fails during the native image bu

[2020-10-19 23:52] dzou commented on #30
Made some new progress in the sample. I got past the native library errors, however now am getting an error about grpc service providers:

[code]

[2020-10-20 19:32] dzou commented on #30
I got this working finally; latest changes pushed to: https://github.com/dzou/quarkus-gcp-experiments/blob/main/pom.xml

To get this to work:

- I had to copy over Netty's configuration and update the package names to be prefixed with `io.grpc.netty.shaded`. Filed an issue in `grpc-java` requesting additional shading of native-image config resources: https://github.com/grpc/grpc-java/issues/7540 .

[2020-10-29 00:20] #30 closed

[2020-12-02 15:34] dzou commented on #12
Notes from Elena:

Look into

ServiceOptions.setClientLibToken
and ServiceOptions.setHeaderProvider

As possible hooks to add user agent strings.

[2020-12-09 21:08] dzou commented on #12
I learned that the JVM Code in the `ApiClientHeaderProvider` can't be used.

One must check the setting: `System.getProperty("org.graalvm.nativeimage.imagecode") == "runtime"` to determine if the code is running as GraalVM image at runtime.

I think the best way is to come up with a very simple substitution which checks this property and modifies one of the headers.

Ideally, we modify code in htt

[2020-12-10 02:19] meltsufin commented on #12
Sure, we can try the version. Is that field going to be easily accessible for us in the reports?

[2020-12-14 20:23] dzou commented on #12
Completed in https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/50

[2020-12-14 20:23] #12 closed

[2020-12-30 09:45] lpellegr opened #58 "Using google-cloud-graalvm-support with Gradle"
When creating a native image for a Micronaut 2 app (making use of Firebase and thus `google-cloud-firestore`) with Gradle, I am getting the following error:

[code]

when `google-cloud-graalvm-support` is declared as a compile or compileOnly dependency:

[code]

I tried removing the cached archive file but this happens again and again. This lets me think I am not using google-cloud-`graalvm-suppor

[2021-01-04 15:25] lpellegr commented on #58
@dzou any ideas about how to use this dependency with Gradle?

[2021-01-05 10:05] koduki opened #59 "Fatal error:com.oracle.svm.core.util.VMError$HostedError: Option name "TruffleMultiThreaded" ..."
Hi, I tried to build `quarkus-pubsub-sample` on my PC. But I had below error.

[code]

I tried below commands.

[code]

native-image and GraalVM version are below.
[code]

What should I do? Do you have any idea?

[2021-01-05 14:59] dzou commented on #58
@lpellegr - Hello! Thank you for the report, apologies for the delay as we were on holiday the last couple days.

I'll take a look at this and try to get a working sample for Gradle. Conceptually, our dependency doesn't do anything special, it just adds a couple classes and config files to the classpath for the GraalVM compiler to pick up when it runs.

I've seen `Zip` related exceptions before an

[2021-01-05 15:11] lpellegr commented on #58
Hi, @dzou (and Happy new year). Thanks for your answer.

For your information, I am getting the error above with the most recent version of GraalVM:

[code]

Looking forward to reading about your try out.

[2021-01-05 15:31] dzou commented on #58
I see, thanks for the update!

Any chance you could share your gradle file too? Am curious to see what other deps you might have (like what version of the graalvm plugin you use and flags).

[2021-01-05 20:01] lpellegr commented on #58
@dzou I am using Micronaut. Here is a repository to reproduce the issue. It exposes a basic endpoint that increments a counter in Firestore and returns a message with the counter value:

https://github.com/lpellegr/micronaut-graalvm-gcp

To start a basic run from a JVM:

[code]

then, when you open http://localhost:8080, you see the message with the counter value.

Now, let's say you want to build

[2021-01-05 20:26] dzou commented on #58
Ah thank you, this is really helpful. I'll take a look and followup shortly.

[2021-01-05 21:39] dzou commented on #59
Thanks for the report @koduki - Will take a look. This may be related to https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/issues/58

[2021-01-05 22:00] dzou commented on #58
Ok, so I think I have a tentative working solution for you. You can try modifying your dependency like this for now:

[code]

It seems to work for me after this change.

Basically the GraalVM libraries we depend on in our artifact seem to pull in some transitive dependencies that breaks something in Gradle. It looks like other tools [encountered the same issue](https://youtrack.jetbrains.com/issue

[2021-01-06 10:02] lpellegr commented on #58
Thanks for the quick follow up. I confirm the workaround works also on my side.

[2021-01-06 20:43] dzou commented on #58
@lpellegr - No problem, glad to hear it works.

Just a heads up, I realized that the root error/mistake on our end is that we actually need to mark our dependency on the GraalVM sdk libraries as `provided` (like this):

[code]

This seems to be the correct solution to the problem; I will submit the change and do a release for `0.2.0` soon so you don't have to rely on the workaround.

[2021-01-06 20:55] dzou commented on #59
Update: I think I found the solution for this. https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/62 will fix this issue.

The root problem is that because the library was marked as `compiled` scope, we were pulling in the GraalVM SDK for 20.2.0 but this would be incompatible with 20.3.0. Marking it as provided lets the compiler give us this dependency, so we are now flexible

[2021-01-06 21:48] #59 closed

[2021-01-06 21:48] dzou commented on #59
Hey @koduki -- I just submitted the fix. Can you try pulling in the latest version of the repo and running the Quarkus sample again? I think it should now work.

[2021-01-07 20:20] dzou commented on #58
We just released version `0.2.0` of the project.

You can try just depending on version `0.2.0` now and omitting the exclusions, I think it will now work for you.

Going to mark this as closed for now. If you still have issues just let me know.

[2021-01-07 20:20] #58 closed

[2021-01-07 20:25] lpellegr commented on #58
It is working perfectly. Thanks again!

[2021-01-11 16:19] dzou opened #65 "Investigate the usage of GoogleApiGaxGrpcSubstitutions from the Quarkus Extension repo"
Following up on the conversation to https://github.com/quarkiverse/quarkiverse-google-cloud-services/pull/72

In the Quarkiverse Extension for GCP, there a [Gax substitution](https://github.com/quarkiverse/quarkiverse-google-cloud-services/blob/6b7be8c11cc5f635ae0a757bee66a9bf755fecd1/common/grpc/src/main/java/io/quarkiverse/googlecloudservices/common/grpc/runtime/graal/GoogleApiGaxGrpcSubstitutio

[2021-01-11 17:03] loicmathieu commented on #65
I will provide a small reproducer for this.

[2021-01-11 20:03] dzou commented on #65
Thanks Loic, this would be a great help.

[2021-01-16 17:19] kenyee opened #66 "feature request: Google Cloud Datastore support"
This issue suggested asking for this here: https://github.com/googleapis/java-datastore/issues/20

Wondering if Google Cloud Datastore support is planned for graalvm as well?
It's a nice layer over BigTable :-)

[2021-01-19 14:18] dzou commented on #66
@kenyee - Hey thanks for the feature request. Yes we would be very happy to add datastore support and a corresponding sample app.

We're an early project, so we're interested in learning where else to contribute to the GraalVM ecosystem for Google Cloud developers (i.e. whether it be frameworks like Quarkus, Micronaut, Spring or elsewhere). If you have any more ideas, please feel free to let us kn

[2021-01-20 21:48] kenyee commented on #66
Thanks David.  Quarkus is what I was planning on using it on.
The Spring Data integration is so much nicer though...saw a Ray Tsang video on it and it was crazy easy to use :-)

[2021-01-21 06:13] koduki commented on #59
Sorry late response. Thank you! I try it.

[2021-01-21 16:49] dzou commented on #59
Cool, sounds good. Let me know how it goes.

[2021-01-21 22:25] dzou commented on #66
Gotcha, thanks for the feedback. We're interested in researching ways to make using Quarkus with GCP easier.

I just did some testing with Datastore, and it looks like version `0.2.0` of our library should be compatible with datastore client libraries.

So you should be able to compile your Quarkus app using datastore using these deps:

[code]

[2021-01-23 03:08] #66 closed

[2021-01-25 02:27] koduki commented on #59
I could successfully compiled by the latest version. Thank you!

[2021-01-25 18:30] dzou commented on #59
Thanks!

[2021-02-03 23:52] kostacasa opened #69 "JNA dependency required for successful build"
Hi! We have recently switched from the Quarkiverse GCP plugin to this library for PubSub and Secret Manager use cases. When we did that, the native build stopped working with the following error:

[code]

To fix it, we had to add this dependency to our native build profile:

[code]

I know this isn't very well researched, but the only difference we made that caused this error was swapping out the

[2021-02-04 15:56] dzou commented on #69
Thanks for the info. Will do some research to try to understand more.

From my research it looks like this error occurs from a [GraalVM substitution trying to delete `LastErrorException`, but it is not present on the classpath](https://github.com/quarkusio/quarkus/issues/6327).

Could you share the output of your `mvn dependency:tree`?

[2021-02-04 16:07] kostacasa commented on #69
Certainly! This will be a little long....

[code]

This did happen around the time we upgraded to Quarkus 11 so I would not completely discount the possibility that it was not caused by the library switch. 😬

Otherwise PubSub and Secret Manager calls have been working great, thanks again for working on this! 👍

[2021-02-09 22:33] dzou commented on #69
Thanks for the input, I'll see if I can reproduce. Glad that PubSub and Secret Manager have been working well so far!

[2021-02-11 18:14] kostacasa opened #76 "Add Cloud Tasks Sample"
I just wanted to say we chanced it and added the Cloud Tasks module to our Quarkus project with this library and it seems to work well - we tested task creation with both OIDC and OAuth authorization schemes. I can create a small PR that adds an example and a test perhaps?

[2021-02-12 23:12] dzou commented on #76
That's great. Yeah sure, we would be very happy to accept a contribution!

[2021-02-22 19:57] dzou commented on #76
Fixed by: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/78

[2021-02-22 19:57] #76 closed

[2021-03-17 15:30] tchiotludo opened #96 "Opencensus failed building NativeImage"
relate to this : https://github.com/micronaut-projects/micronaut-gcp/issues/287

micronaut handle building native image thanks to this libs for some usecase (like pubsub) but using this libs `implementation("io.micronaut.gcp:micronaut-gcp-logging:3.2.1")` in a micronaut project, will failed building a native image due to opencensus :
[code]
I'm not really sure that issue must be reported here or o

[2021-03-17 16:05] dzou commented on #96
Hey @tchiotludo -- Thank you for filing the issue.

Yeah, I can help take a look at this.

I took a look at [`micronaut-gcp-logging`](https://github.com/micronaut-projects/micronaut-gcp/blob/master/gcp-logging/build.gradle). Do you know which dependency the OpenCensus libraries are coming from?

Also, by any chance could you share a simple application on github to reproduce the issue?

[2021-03-17 16:14] tchiotludo commented on #96
Thanks for prompt response !

Here is a sample project: https://github.com/tchiotludo/micronaut-gcp-logs with the error :
[code]
you can reproduce the issue with a `./gradlew dockerBuildNative`.

The OpenCensus libs come from subdeps [here](https://github.com/micronaut-projects/micronaut-gcp/blob/master/gcp-tracing/build.gradle) I think, that lead to OpenCensus behind I think

[2021-03-17 16:30] dzou commented on #96
Many thanks for sharing a reproducible sample. I will take a look in the upcoming days.

[2021-03-18 15:02] viniciusccarvalho commented on #96
Hi @dzou the micronaut logging is pulling opencensus via the `com.google.auth:google-auth-library-oauth2-http:0.22.1` that is pulled via the `micronaut-gcp-common` we may need to fix the bom versions at micronaut. I don't think we are still conforming to the minimal bom suggested by this repo.

[2021-03-22 14:10] dzou commented on #96
Gotcha I see, no problem. I will still help take a look, I think the opencensus libraries might be a whole new thing we need to cover.

[2021-03-25 04:16] ansarizeeshan opened #102 "Add support for Cloud SQL"

[2021-03-25 11:52] ansarizeeshan opened #103 "Getting an error java.lang.NullPointerException using Cloud Firestore and spring-native"
Code
[code]
below error

[code]

[2021-03-25 18:45] dzou commented on #102
Thanks, noted. This is coming soon.

[2021-03-25 19:45] dzou commented on #103
Thanks for the report.

Could you share a simple sample project to reproduce? I'm having some trouble setting up a spring-boot native app correctly.

Looking at the error, it's saying that the `name` param is missing which is why you get the NPE; looks like an issue with [spring-native](https://github.com/spring-projects-experimental/spring-native) so you may want to file issue there. Or maybe you

[2021-03-26 05:05] ansarizeeshan commented on #103
@dzou Thanks for your response. I have added a sample project based on spring-native.
[demo.zip](https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/files/6209478/demo.zip)

PS: When I tried to run with spring-boot, it works fine. but when I tried to run it with spring-native it results above issue.

[2021-03-29 22:04] dzou commented on #103
Gotcha, thanks for this. I'll take a look.

[2021-04-02 01:06] dzou commented on #103
@ansarizeeshan -- Looks like the problem is an authentication issue. Remember that a docker container runs in an isolated instance from your local machine, so it does not inherit your `GOOGLE_APPLICATION_CREDENTIALS` or `gcloud` credentials by default.

I'll go over how to do the [method described here.](https://cloud.google.com/run/docs/testing/local#docker-with-gcp-access)

Steps:

1. Create ser

[2021-04-05 13:40] #103 closed

[2021-04-05 17:44] dzou opened #111 "Replace Cloud Build Maven cache with a .tar file"
The Cloud Build Maven cache should be implemented with downloading/extracting/uploading a .tar file instead of using `gsutil`.

See context: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/105#issuecomment-812915381

[2021-04-05 17:46] kostacasa commented on #111
Here is a hacky starting point

[code]

[code]

This approach completes the transfer in a few seconds usually and tar-ing is very fast.

[2021-04-05 17:49] dzou commented on #111
@kostacasa -- Thank you!! This is a great help.

[2021-04-09 15:52] veN1337 opened #116 "Firebase Admin SDK sends empty message with native image"
I'm not quite sure if this issues belongs here or to the [firebase-admin-java repo](https://github.com/firebase/firebase-admin-java), so please let me know and i will open this issue there.

I have a small java app which sends a basic FCM message to a specific device token.
I'm using `firebase-admin:7.1.1` and `google-cloud-graalvm-support:0.3.0` as dependencies and this code snippet to send the m

[2021-04-09 17:22] dzou commented on #116
Thanks for sharing this. Indeed looks like a missing configuration issue on our end.

We just released version `0.4.0` -- Could you try that and see if it fixes the problem? We changed how we registered JSON-related classes for reflection so it might help.

Let me know if that helps; if not I can try to reproduce on my end. We can also add the `admin_sdk` resource as one of the built-in resources.

[2021-04-09 21:14] veN1337 commented on #116
Thanks for the quick response. I don't know how I missed the new release 😞

Unfortunately it didn't fix the problem.

I have pushed a minimal reproducible example here: [veN1337/fcm-native-test](https://github.com/veN1337/fcm-native-test)
The container from the provided Dockerfile needs two environment variables:
-  `GOOGLE_APPLICATION_CREDENTIALS` path to the service account private key
- `FCM_DE

[2021-04-12 14:05] dzou commented on #116
Great, thank you for the reproducer. I'll take a look.

[2021-04-14 17:57] dzou commented on #116
Hey, I think I might have found a fix. For the temporary solution, I forked your project and added an [additional reflect-config.json](https://github.com/veN1337/fcm-native-test/compare/main...dzou:main#diff-cc783b387f34bc02ac5f61716d44f91c1b614c06c7fab75ff427c71503ef4a4b) which seemed to work for this case.

For the long term solution, I think we will need more time to figure out all of the class

[2021-04-14 17:59] dzou commented on #116
By the way, is there a way to generate `FCM_DEVICETOKEN`? (Or perhaps is there an emulator we should use?) Not too familiar with Firebase APIs.

I would be interested in adding in a sample application for our native-image tests to support this library.

[2021-04-14 19:39] dzou commented on #69
Sorry for delay on this; I did some more research and started following the [thread here](https://github.com/quarkusio/quarkus/issues/6327). Unfortunately I was not able to reproduce the issue; though it does seem the consensus was to use the workaround that you suggested.

Will close this for now since I think the issue is related to Quarkus and not due to our configurations.

[2021-04-14 19:39] #69 closed

[2021-04-14 19:40] dzou commented on #23
This is done, both GRPC and JSON clients are supported.

[2021-04-14 19:40] #23 closed

[2021-04-14 19:41] dzou commented on #65
Will close this for now because it seems like it may no longer be an issue. Let me know if something arises, though.

[2021-04-14 19:41] #65 closed

[2021-04-15 08:13] lpellegr opened #119 "Add support for soy aka closure-templates"
https://github.com/google/closure-templates

for instance when used with Micronaut:

https://micronaut-projects.github.io/micronaut-views/latest/guide/#soy

[2021-04-15 20:54] veN1337 commented on #116
Thank you so much! The [additional reflect-config.json](https://github.com/veN1337/fcm-native-test/compare/main...dzou:main#diff-cc783b387f34bc02ac5f61716d44f91c1b614c06c7fab75ff427c71503ef4a4b) did the trick and sending messages works now.

Also the [Native Image Agent](https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271) you mentio

[2021-04-15 21:10] dzou commented on #116
No problem, glad it works!

Gotcha, when I was debugging your app, I didn't have a valid `FCM_DEVICETOKEN` to pass to the API; so I just made one up, however once I got past your error I started getting an "invalid token error". So I was curious if there was a way to register test/dummy tokens in Firebase or something to let you try calling the APIs and see what happens.

I don't think we are look

[2021-04-15 21:14] dzou commented on #119
Thanks for the request, we will look into supporting this.

[2021-05-09 23:58] JonathanGiles opened #128 "Static linking of native resources"
Hi there - very nice project you have here! :-)

I'm curious if the [resource-config.json](https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/blob/master/google-cloud-graalvm-support/src/main/resources/META-INF/native-image/com.google.cloud/google-cloud-graalvm-support/resource-config.json) file you have means that the native dependencies referenced there are dynamically linked at

[2021-05-11 14:26] dzou commented on #128
Hmm I see. Yeah I get the same output, looks like it is not getting loaded correctly:

[code]

Thanks for catching this; I will take a closer look to see how to fix this. Maybe we do need to add the extra steps you mentioned in https://github.com/oracle/graal/issues/3359

[2021-05-12 00:10] JonathanGiles commented on #128
I tried a lot of different variations of the `Feature` approach - but I couldn't find the right variation, because in all cases the library was not being found and this resulted in the less optimal JDK SSL path being taken.

The code I ended up with (with a number of different experiments clearly showing) is below. I've not cleaned it up as it gives some indication to the paths I went down. Note t

[2021-05-12 22:39] chanseokoh commented on #128
Here's an interesting thing:

I also believe that `System.loadLibrary()` in a native image will still require to dynamically load a shared library from a runtime environment (unless you do a special `Feature` step), whether the image is statically linked (`native-image --static`) or not.

However, for the epoll library (not 100% sure about tcnative though), fortunately netty has its own special lo

[2021-05-12 23:29] dzou commented on #128
Nice discoveries @chanseokoh.

Yeah I encountered this error too. I tested this code out today and made a [mini-reproducer of the code snippet](https://github.com/dzou/native-lib-test/blob/main/src/main/java/com/example/Driver.java) @JonathanGiles provided. I also dug up the old [jni-config.json](https://github.com/dzou/native-lib-test/blob/main/src/main/resources/META-INF/native-image/com.example

[2021-05-13 04:06] JonathanGiles commented on #128
With that logging hint, I can see on macos I am getting the following error reported:

[code]

[2021-05-13 15:52] kkriske commented on #128
With the right Feature setup, the `System.loadLibrary` call will know that the library you want is statically linked, and no dynamic libs will be required.

[2021-05-13 15:59] chanseokoh commented on #128
Statically linking libraries at compile-time: I believe theoretically this is doable, but there are also hurdles. In the end, it all boils down to using the linker [`ld`](https://linux.die.net/man/1/ld), so the arguments below does not only apply to JNI in Java but to any language.

Java is portable, but these native libraries are not. This is why `grpc-netty-shaded` embeds platform-specific libra

[2021-05-17 14:18] dzou commented on #128
To fix these you'll have to manually iterate and add the classes found in the UnsatisfiedLinkError (like the `io.netty.internal.tcnative.Library.aprMajorVersion`) to the jni-config.json. And just keep trying rebuild/update until it works.

Based on what @chanseokoh said, I'm not sure if static linking is possible then. In the past I went down the rabbit hole of trying to get the native libraries t

[2021-05-17 14:44] chanseokoh commented on #128
In my testing, the sample works without this particular file. Seems unnecessary.

I'm just speculating, but [this](https://github.com/oracle/graal/issues/1828#issuecomment-553834993) might be relevant. But to me, it doesn't make much sense that dynamic loading of shared libraries can be accomplished at build time that makes actual calls work at runtime. (Does "loading" mean somehow embedding platf

[2021-05-17 21:36] chanseokoh commented on #128
Oh, one more thing. I've never used Mac, so didn't realize this before: epoll is [not available on Mac](https://stackoverflow.com/questions/13856413/does-os-x-not-support-epoll-function). (The Stack Overflow answer is a bit old, but I think this is still the case.) @JonathanGiles so it's likely that you'll never get `true` from `epoll.isAvailable()` on your Mac? Anyways, one of the answers also se

[2021-05-18 04:36] JonathanGiles commented on #128
There is a tcnative-kqueue that I do use, but you are right - I never expected to see epoll as true on my mac. I'm running out of things to try to get this to work - I suspect for now we just will end up falling back to using the JDK implementations (which are drastically slower) until a better solution is found in the graalVM / netty projects.

[2021-05-25 16:09] dzou commented on #128
Hey there, I will look into how to enable this correctly at least for Linux.

Regarding time, I'll try to get to this, but because this does not block the functionality of the project it is a little bit lower priority for us right now as we try to expand our coverage fully for all GCP libraries.

[2021-05-25 18:28] JonathanGiles commented on #128
Unrelatedly, I'm curious how you validate that your support for graalvm is complete. In other words, what testing strategies do you use to ensure that a native app will work completely the same as a Java version of the app?

[2021-05-25 19:10] dzou commented on #128
Good question. We currently maintain a set of sample applications which exercise different GCP client libraries and will build and run these in our CI. This is our form of validation in the early stages (which you can see is limited by the code paths you can cover).

In the long run, we would like to build the unit tests of all the client libraries as a native image and validate the tests by runni

[2021-06-01 13:30] ppalaga opened #141 "Remove -H:+AllowIncompleteClasspath and --report-unsupported-elements-at-runtime"
These are options suitable for debugging but nor for running production code. For `--report-unsupported-elements-at-runtime`, see e.g. https://github.com/oracle/graal/issues/1725#issuecomment-547570158

Related  https://github.com/apache/camel-quarkus/issues/2692 , https://github.com/quarkiverse/quarkus-google-cloud-services/issues/119

[2021-06-01 14:44] loicmathieu commented on #141
@dzou can you have a look at this one ?

We discover this flag being set on the library while investiguating a graalvm native issue on recent version of Netty (due to Brotli compresson), and it's bad practice as this is a debugging flag that should be used at client side not at library side.

[2021-06-01 19:32] elefeint commented on #141
@ppalaga Thanks for catching this! We'll remove the development properties.

[2021-06-03 15:34] dzou commented on #141
Thanks for reporting this, I will try to resolve this.

Unfortunately we are blocked on fixing this immediately; due to an issue in the `grpc-netty-shaded` dependency (See: https://github.com/grpc/grpc-java/issues/7540). Basically this dependency does not shade the native-image config inherited from netty correctly and the compiler will not recognize the classes referenced. This is why we had to a

[2021-06-07 17:53] dzou commented on #102
Support for Cloud SQL w/ MySQL added here: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/143

[2021-06-07 17:53] #102 closed

[2021-06-10 18:59] #111 closed

[2021-07-21 19:07] dzou commented on #141
Just an update, finally got around to fixing this.

We were able to submit a patch in https://github.com/grpc/grpc-java/pull/8258 upstream, waited for a new release, and #167 will fully remove the flags.

[2021-07-22 07:14] loicmathieu commented on #141
@dzou great, thanks for the heads up

[2021-07-22 07:21] ppalaga commented on #141
Perfect, thanks!

[2021-07-26 21:16] dzou commented on #141
@loicmathieu @ppalaga -- Sorry guys, I was a little early in my excitement reporting the news. I was actually only able to remove `--report-unsupported-elements-at-runtime` however unable to remove `allow-incomplete-classpath`.

I'm basically hitting this class of error and not sure how to solve it without `--allow-incomplete-classpath`.

[code]

I've studied Quarkus's solution for netty which mig

[2021-07-27 08:46] ppalaga commented on #141
@dzou hard to say how much the class `JettyAlpnSslEngine$ClientEngine` that refers to unavailable methods is wired to the rest of your artifacts. If it is actually not necessary, you may try to remove it (and its dependents) from the `grpc-netty-shaded` artifact (using Maven Shade plugin or which ever other tool you use to produce `grpc-netty-shaded`).

[2021-07-27 08:49] ppalaga commented on #141
If removing is too complicated (and if the stuff done in `io.grpc.netty.shaded.io.netty.handler.ssl.JettyAlpnSslEngine$ClientEngine.<init>(javax.net.ssl.SSLEngine, io.grpc.netty.shaded.io.netty.handler.ssl.JdkApplicationProtocolNegotiator)` is not required) you could try to replace the `ClientEngine.<init>(javax.net.ssl.SSLEngine, io.grpc.netty.shaded.io.netty.handler.ssl.JdkApplicationProtocolNeg

[2021-08-03 14:12] jamesnetherton opened #180 "Support for GraalVM 21.2.0"
Seems there are some incompatibilities if you try to run the 0.4.0 release on GraalVM 21.2.0. It'd be nice if we can get a release that supports this version of GraalVM.

[code]

[2021-08-03 14:48] chanseokoh commented on #180
@dzou they [changed](https://github.com/oracle/graal/blob/release/graal-vm%2F21.2/sdk/src/org.graalvm.nativeimage/src/org/graalvm/nativeimage/impl/ReflectionRegistry.java#L51) the method signature in 21.2.0. As the word `impl` in the package name implies, it seems like an internal package whose implementation may change between versions.

[2021-08-03 14:57] dzou commented on #180
Thanks for the report @jamesnetherton. I actually ran into this too, and the fix has been committed to the PR in which we're trying to upgrade to 21.2.0: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/165

However we're stuck due to this issue which we think is a bug in GraalVM:  https://github.com/oracle/graal/issues/3629
We get this weird null pointer exception in the c

[2021-08-03 16:00] suztomo opened #181 "The compatibility table to include GraalVM versions"
It seems that GraalVM introduces backward-incompatible changes. How about the compatibility table (https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support#client-library-versions) including GraalVM versions to clarify GraalVM versions we used for google-cloud-graalvm-support releases?

@dzou What do you think?

[2021-08-03 16:03] dzou commented on #181
Yeah! Will do. I have some changes prepared in this PR which introduces this graalvm version table: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/165/files

Still waiting for it to be unblocked since we think there is a bug in the 21.2.0 version, but I might just have to ignore a sample test temporarily and get it committed.

[2021-08-03 16:58] loicmathieu commented on #180
This will also impact Quarkus Google Cloud Services extensions as they plan to move to 21.2.0 asap.

Would it be possible to have a 0.5.0 "non final" version (snapshot or candidate release) to make it work while you sort things out with the GraalVM team ?

[2021-08-03 17:02] dzou commented on #180
Ok, let me do that then. I can release a 0.5.0 which has these patches by end of today.

[2021-08-03 17:04] loicmathieu commented on #180
Thanks @dzou

[2021-08-03 20:03] dzou commented on #180
Hey guys, I just released version `0.5.0` which should be compatible with GraalVM 21.2.0.

[code]

I will keep an eye on https://github.com/oracle/graal/issues/3629 and followup if any updates are needed on our end. Please let me know if you also run into a related issue. I will keep this thread open as a place where we can discuss if needed.

[2021-08-03 20:10] dzou commented on #181
Thanks for the suggestion again. I just added this in; please see: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support#client-library-versions

[2021-08-03 20:10] #181 closed

[2021-08-03 20:47] suztomo commented on #181
Nice. Thank you.

[2021-08-04 12:56] loicmathieu commented on #180
Thank you @dzou this fixes the issue with Quarkus Google Cloud Services extensions for Quarkus 2.2.

[2021-08-04 19:37] dzou commented on #141
Gotcha, thanks for the tips. Will give it another attempt.

[2021-08-11 17:58] dzou commented on #180
Gonna close this on our end. Based on what I'm seeing in the main issue there isn't anything we can really do here; will just have to wait for a fix upstream. It looks like the null pointer issue only affects the GCF functions framework library which does not affect the large majority of users.

[2021-08-11 17:58] #180 closed

[2021-08-13 20:19] dzou commented on #141
Hey I revisited this, and we were able to successfully remove `--report-unsupported-elements-at-runtime` in https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/167

I tried for a few hours to remove `-H:+AllowIncompleteClasspath` but I wasn't successful and still ended up requiring a lot of substitution classes. I could try further, but long term I don't think we have the abil

[2021-08-13 20:19] #141 closed

[2021-08-13 20:20] dzou commented on #8
Closed as obsolete.

[2021-08-13 20:20] #8 closed

[2021-08-13 20:23] dzou commented on #119
Hey sorry for the delay on this. We've been spending time investigating how to test and validate the GCP libraries recently and have not been expanding the scope of our supported libraries.

Unfortunately we decided that we are not planning on supporting this library because it is outside the scope of Google Cloud; our project currently is just targeting client libraries for GCP services (like Pub

[2021-08-13 20:23] #119 closed

[2021-08-14 10:37] loicmathieu commented on #141
Thanks, we'll see how it goes

[2021-09-06 20:49] sgammon opened #205 "Spanner's `ClientSideStatements.json`"
Hello esteemed Google Cloud Platform devs,

I was trying to use this package with Spanner and Micronaut, but caught the following error:
[code]

It seems in Spanner Java's [`ClientSideStatements.java`](https://github.com/googleapis/java-spanner/blob/865bac1a976d16e20e0be0eed11594c7c2a7d721/google-cloud-spanner/src/main/java/com/google/cloud/spanner/connection/ClientSideStatements.java#L25-L36), it

[2021-09-08 17:18] kostacasa opened #211 "GoogleCredentialsProvider$Builder.setUseJwtAccessWithScope not registered for reflection"
We are using GraalVM support library 0.5.0 with the Google Cloud Workflows library version 2.0.2 successfully (even though it's not officially supported). When we tried to upgrade the workflows library to 2.0.3 we got the following error at runtime:
[code]

This was the workflows SDK change:
https://github.com/googleapis/java-workflow-executions/compare/v2.0.2...v2.0.3

Relevant bit:
[code]

Flagg

[2021-09-09 16:09] #205 closed

[2021-09-09 16:21] dzou commented on #211
Hey @kostacasa -- I think this issue is not GraalVM/reflection related but rather an issue with library versions in your stack.

This method `com.google.api.gax.core.GoogleCredentialsProvider$Builder.setUseJwtAccessWithScope(boolean)` was actually introduced relatively recently here: https://github.com/googleapis/gax-java/commit/ed39c34693783460fc03effb47e7027914cfb5bc

From what it looks like, I

[2021-09-09 21:59] kostacasa commented on #211
Hi @dzou! You are right, we accidentally explicitly defined the workflow dependency version instead of letting the Google `libraries-bom` manage it. Our libraries-bom was on v 2.1.0 and so it was pulling in the older (and incompatible) `com.google.api:gax`.

That said, I can confirm that `google-cloud-workflow-executions` library seems to work just fine in native mode! I might throw together a qui

[2021-09-09 22:49] #211 closed

[2021-09-10 15:04] dzou commented on #211
Nice, great to hear you figured out the issue!

Hey, don't worry about doing this. We're developing a more comprehensive way of testing to validate all the google cloud client libraries in one go. And this will be a much stronger guarantee than the samples approach we've been taking :slightly_smiling_face:. Soon we hope to be able to say that "everything just works."

[2021-10-15 17:42] ppalaga opened #235 "Manage native-image-support-java in com.google.cloud:libraries-bom"
The human readable [info in the README](https://github.com/GoogleCloudPlatform/native-image-support-java#client-library-versions) is useful, but rather impractical for a long term maintenance of a project that uses both `com.google.cloud:libraries-bom` and `native-image-support-java`.

Would it please be possible to manage `native-image-support-java` in `com.google.cloud:libraries-bom` so that use

[2021-10-21 15:04] dzou commented on #235
Just an fyi, the work to achieving this is currently in progress as we try to bring this project to GA.

[2021-10-25 15:47] nek4life opened #240 "Feature: Postgresql Support"
Just ran into an issue with Quarkus building a native image using Google Cloud Build. I found this repo, however it only looks like MySQL is currently supported.

2021-10-25 14:17:22,513 WARN [io.agr.pool] (agroal-11) Datasource '<default>': The SocketFactory class provided com.google.cloud.sql.postgres.SocketFactory could not be instantiated.
Default
2021-10-25 10:17:22.545 EDT
2021-10-25 14:17:2

[2021-11-02 19:40] dzou commented on #240
This is currently in review here: https://github.com/GoogleCloudPlatform/native-image-support-java/pull/250

Thanks for your patience.

[2021-11-03 16:23] #240 closed, assigned to dzou

[2021-11-03 21:07] suztomo opened #252 "The samples show message "--initialize-at-build-time without arguments has been deprecated when not using --diagnostics-mode""
In `native-image-samples-client-library/bigquery-sample`, running `mvn package -P native` showed the following message:

[code]

<img width="675" alt="Screen Shot 2021-11-03 at 5 05 50 PM" src="https://user-images.githubusercontent.com/28604/140192718-b94c972f-5bda-4cfd-adc0-d0357429d0bc.png">

[2021-12-07 22:35] suztomo opened #272 "java-speech repository failing wth NullPointerException"
[code]

# How to reproduce

[code]

[2021-12-07 22:50] suztomo commented on #272
This seems the resource-related problem in the test.

<img width="1209" alt="Screen Shot 2021-12-07 at 5 42 15 PM" src="https://user-images.githubusercontent.com/28604/145117214-8db499fe-f9cb-48d6-b3bc-29e38fd0493e.png">

[2021-12-09 13:25] #272 closed

[2021-12-09 21:55] suztomo opened #276 "spring-cloud-gcp's integrationTests (native) fails"
[code]

Full log: https://github.com/GoogleCloudPlatform/spring-cloud-gcp/runs/4475343001?check_suite_focus=true

[code]

Maybe this issue is the cause: https://github.com/netty/netty/issues/11369. `--initialize-at-run-time` would be the solution.

I feel detecting this kind of breakages at spring-cloud-gcp is too late. Did we detect this early within the repository this module belongs to?

[2022-01-18 17:44] mklueh opened #306 "com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved type during parsing: io.grpc.netty.shaded.io.netty.util.internal.logging.Log4J2Logger"
I'm running into this error when using `'com.google.firebase:firebase-admin:7.3.0'`

[code]

Is this supposed to be covered by this library as well?

[2022-01-18 18:37] suztomo commented on #306
Thank you for reporting the issue. What version of native-image-support-java and log4J do you use?

I haven't tried to reproduce the problem myself but would you be willing to share a small project to reproduce the problem?

Memo: `com.google.firebase:firebase-admin:7.3.0` was released May 2021.

[2022-01-18 19:47] mklueh commented on #306
I'm using the latest version of native-image-support together with Quarkus 2.6.2 and just the `@Slf4j` annotation of Lombok. To be honest, I'm not exactly sure what is used under the hood, but for my understanding, it is proxied through JBoss logging by Quarkus, so no log4j is used at all.

[2022-01-19 15:04] suztomo commented on #306
Yes, please let us know the result with the latest. Also looking forward to a project to reproduce the issue.

(The latest native-image-support is `com.google.cloud:native-image-support:0.10.0`, released in November 2021)

[2022-01-19 15:14] mklueh commented on #306
Thanks. It seems the error is gone with the latest version of firebase admin

[2022-01-19 16:28] suztomo commented on #306
Glad to hear that. Thank you for update.

[2022-01-19 16:28] #306 closed

[2022-02-20 14:27] christiangoudreau opened #332 "[Question] How to use environment service account at run time"
Hi,

Maybe it's just me that doesn't quite have a grasp yet on how to use native image correctly, but it my build workflow, we're building only one image for every single environments that we have, then use environment variables to configure at run time those containers.

Wtih native image support, it seems to me like I'm supposed to give the service account for gcloud at build time. But then agai

[2022-02-22 18:52] suztomo commented on #332
Would you describe your finding a bit more? I believe native-image shouldn't change how service account is chosen between native-image runtime and normal JVM runtime. (but I may be wrong)

[2022-02-22 19:58] dzou commented on #332
No, you don't have to give your credentials/service account key at build time. The client libraries are configured to read from environment variables and should work the same with native image compilation (it will try to read credentials from the environment).

I.e. GCloud or Environment variables should work the same. If deploying your container to a GCP environment (such as GCF, GKE, etc.) servi

[2022-02-26 13:56] christiangoudreau commented on #332
Yeah, after dumbing down a bit my dependencies, I got it to run correctly. The only problem was my conditionnal logback config where I was sending logs to the console in development rather than Google logging and trace.

[2022-02-26 13:56] #332 closed

[2022-02-28 14:42] suztomo commented on #332
Thank you for update! Glad to hear it's resolved.

[2022-03-06 11:24] mklueh opened #344 "Substition: com.google.api.client.googleapis.services.AbstractGoogleClientRequest$ApiClientVersion.toString() conflicts with previously registered"
Hello,

I'm using these two versions of the firebase admin SDK and the native-image-support-java library

[code]

but getting the following error:

[code]

What am I missing?

[2022-03-06 11:46] mklueh commented on #344
I didn't notice that the latest version of this library is 0.12.6, as it says 0.10.0 on the readme page. It seems with that version the error is gone

[2022-03-06 11:46] #344 closed

[2022-03-08 15:08] suztomo opened #346 "native-image-samples-spring/spring-cloud-gcp-trace-sample throws ClassNotFoundException"
Note for my investigation.

[code]

build log: https://gist.github.com/suztomo/55d8c4c8110e4fd20e3131a2ee6c95f6

As per the stacktrace, `SpringApplicationAotUtils` tries to call `Class.forName()` with `org.springframework.aot.ContextBootstrapInitializer`.

<img width="1348" alt="Screen Shot 2022-03-08 at 10 36 35 AM" src="https://user-images.githubusercontent.com/28604/157271326-e22c8594-25e6-4260

[2022-04-06 17:17] damiencn opened #363 "native-image-support-java cause quarkus extension quarkus-elasticsearch-rest-high-level-client to fail"
Hello ! I'm having an issue with this library, and after hours scratching my head I'm looking for some help.

So here is my problem:
I'm working on a Quarkus (2.7.5) project with native compilation (GraalVM 22.0.0 jav11) which is hosted on GCP Cloud Run.
This backends push and read data into ElasticSearch using quarkus-elasticsearch-rest-high-level-client extension. Everything was working like a c

[2022-04-06 17:22] suztomo commented on #363
Thank you for detailed observations. I'm not an expert of Quarkus or Elasticsearch. Would you be willing to provide an example project that produces the error?

(I'm hoping the example project doesn't require a real Elasticsearch instance)

[2022-04-21 10:28] zp-chen-hkmci opened #371 "Help wanted: confusing version numbers"
According to README and github release, we are now at version 0.10.0

![image](https://user-images.githubusercontent.com/68260774/164434806-c1b7eb42-3b0e-4455-b71f-7ff6dbc05523.png)

![image](https://user-images.githubusercontent.com/68260774/164434926-ac6d541c-4b17-4c62-8c75-baca7a276288.png)

But I found the newer version on the maven Repository: https://search.maven.org/artifact/com.google.clou

[2022-05-09 19:41] zhumin8 commented on #371
update: now the newest release is [v0.14.0](https://github.com/GoogleCloudPlatform/native-image-support-java/releases/tag/0.14.0) in this repo.

[2022-05-09 19:41] #371 closed

[2022-05-11 07:41] jamesnetherton opened #393 "GraalVM 22.1.0 - UnsupportedFeatureException: Detected a PlatformManagedObject"
Building a native image with the Google Cloud libraries results in a build failure when using GraalVM 22.1.0:

[code]

[2022-05-11 15:26] mpeddada1 commented on #393
Thank you so much for filing this issue @jamesnetherton! We're aware of this issue and are currently looking into it. Could you provide us with a bit more information on what client libraries you're experiencing this with? What version of the libraries-bom/ the client libraries are you currently using?

[2022-05-11 16:30] jamesnetherton commented on #393
Using `libraries-bom` 16.3.0 (just realized that is somewhat old now..). Here's the dependency tree for the affected modules in my project:

**google-cloud-storage**
[code]

**google-cloud-bigquery**
[code]

**google-cloud-pubsub**
[code]

[2022-05-12 20:34] mpeddada1 commented on #393
Thank you!

[2022-05-13 12:22] loicmathieu commented on #393
I also have the issue, I notice that the GraalVM library is in scope provided.
Google native image support is based on org.graalvm.nativeimage:svm.
Where the new version of GraalVM relocate the artifact in org.graalvm.sdk:graal-sdk:jar:22.1.0.

So it appears the switch should be done to the new artifact also.

[2022-05-13 12:23] loicmathieu commented on #393
@jamesnetherton the issue should be fixed at Quarkus GCP extension side, you can track this issue: https://github.com/quarkusio/quarkus/issues/25501

[2022-05-13 12:41] suztomo commented on #393
@loicmathieu Would you share your finding about relocation?

Does that mean certain classes are in a different Java package in org.graalvm.sdk:graal-sdk:jar:22.1.0?

[2022-05-13 12:52] loicmathieu commented on #393
I have no idea, they change the Maven artifact but I don't know if the packages changed.

[2022-05-13 12:54] loicmathieu commented on #393
@suztomo forget what I just said, there is two different artefact and org.graalvm.nativeimage:svm is not yet release for 22.1.

[2022-05-13 13:14] suztomo commented on #393
@loicmathieu Thank you for clarification. That matches my understanding.

[2022-05-16 20:02] #393 closed

[2022-05-19 07:22] loicmathieu commented on #393
Thanks, I'll confirm tomorrow if it fixes the issue.

[2022-05-19 21:35] lpellegr opened #401 "java.lang.NoClassDefFoundError: Could not initialize class com.google.firebase.auth.internal.AuthHttpClient at com.google.firebase.auth.FirebaseUserManager.<init>"
I am getting the error below when I try using Firebase Auth in a GraalVM app using as dependencies:

- com.google.cloud:libraries-bom:25.1.0
- com.google.cloud:native-image-support:0.14.1
- com.google.firebase:firebase-admin:8.1.0
- micronaut 3.4.4

Adding `com.google.firebase.auth.internal.AuthHttpClient` in _reflect.json_ is not enough:

I don't have enough knowledge to know what is required by

[2022-05-27 17:54] jamesrowe08 opened #405 "grpc-netty-shaded substitution error when building (Micronaut/Gradle)"
Using micronaut 3.5.0, google-cloud-pubsub:1.118.0, native-image-support:0.14.1 and when building using native image:

Build fails with:

`#11 6.390 Error: Substition: io.grpc.netty.shaded.io.netty.util.internal.logging.InternalLoggerFactory.newDefaultFactory(String) conflicts with previously registered: io.grpc.netty.shaded.io.netty.util.internal.logging.InternalLoggerFactory.newDefaultFactory(St

[2022-06-23 17:32] mpeddada1 commented on #405
Hello @jamesrowe08! The client libraries come with the native image configurations built-in as of `libraries-bom 25.4.0`. You don't need the `native-image-support` dependency anymore.

[2022-10-25 01:54] liefra opened #433 "Cloud SQL issue when using Unix Sockets"
I have a native Cloud Run Micronaut app, which connects from Cloud Run to Cloud SQL Postgres using a Hikari connection pool.

The connection only works when made without Unix Sockets. When I try to connect via Unix Sockets by adding the `unixSocketPath` I see the following error: `could not load FFI provider jnr.ffi.provider.jffi.Provider`

Here is the Stacktrace:

[code]

NOTE:
- Without the `uni

[2022-10-26 13:34] javamachr opened #434 "IllegalAccessError accessing graalvm module"
Using  Java Version info: 'GraalVM 22.2.0 Java 17 CE':
I keep getting this error when trying to build native image:
[code]